body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.holdContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #080c11;
    height: 50%;
    width: 50%;
    border-radius: 10px;
    border: none;
}
#fileInput{
    display: none;
}
.putHold{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}
.submit{
    margin-top: 30px;
    background: #1e90ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}
.submit:hover{
    background: #1c86ee;
}
label{
    background: #121920;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    text-align: center;
}
label:hover{
    background: #19222b;
}
.file-name{
    margin-top: 5px;
    text-overflow: clip;
    overflow: hidden;
}